@page
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University, with a SQL Syringe practice demo</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            This demo is based on the <a href="https://github.com/jbogard/ContosoUniversityDotNetCore-Pages"> Contoso University example by jbogard</a>
        </p>
        <p><a class="btn btn-default" href="https://github.com/suterma/SqlSyringe-Practice">See the source code of this demo.</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to use</h2>
        <p>Navigate to "./sql-syringe" to use the syringe or use the button below:</p>
        <p><a class="btn btn-primary" href="./sql-syringe">Launch SQL Syringe</a></p>
        <p>Navigate to the entities of this application to validate the changes made.</p>
    </div>
    <div class="col-md-4">
        <h2>Learn about SQL Syringe</h2>
        <p>You can download the project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/suterma/SqlSyringe">See the SQL Syringe project source code.</a></p>
    </div>
</div>